<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculator</title>
</head>
<body>
    <center>
       <h1>Calculator -{{name}}</h1>
   
    <div>
        <form action="add">
            <table>
                <tr>
                  <td> Enter the NUMBER 1:<input type="text" name="num1"></td>
                </tr>
                <tr>
                   <td> Enter the NUMBER 2:<input type="text" name="num2"></td>
                </tr>
                <tr>
                    <td><button type="submit">ADD</button></td>
                </tr>
                
            </table>
        </form>
    </div>
</center>
</body>
</html>